body{
    background-color: rgb(0, 0, 0);background-image: url("../assets/9WalkingTrails/Wavey-Fingerprint.svg");
    background-attachment: scroll;
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;    
    margin:0;
    position:relative
}

.relative{
    position:relative;
}

.viewer{
    width: 100vw;
    overflow: hidden;
    position:absolute;
    height:100vh;
}

.page{
    width: 4000px;
    height: 100vh;
    position:relative;
    display:flex;
    flex-flow: row;
    transition:0.1s ease-in-out;
}

.oneUnit{
    margin-left: 100px;
    width: 33.3%;
    height: 100%;
    position:relative;
}

.left{
    height: 90%;
    width:30%;
    position:absolute;
    bottom:0;
    animation: moveInFromLeft 0.4s ease-out;

}

.topRight{
    height: 20%;
    width:30%;
    position:absolute;
    top:20%;
    left:50%;
    animation: moveInFromRight 0.4s ease-out;

}

.topbottom{
    height: 20%;
    width:30%;
    position:absolute;
    top:60%;
    left:50%;
    animation: moveInFromRight 0.4s ease-out;

}

img{
    object-fit: cover;
    box-shadow: 5px 5px 10px rebeccapurple;
}

img:hover{
    filter:brightness(1.3);
    cursor:pointer;
}

@keyframes moveInFromLeft{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;;
    }
}

@keyframes moveInFromRight{
    0%{
        transform: translateX(500px);
        opacity: 0;

    }

    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}