* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

nav {
  position: absolute;
  width: 80%;
  top: 0;
}

nav h1,
.nav-bar a {
  color: white;
}

#toggle span,
#toggle span::before,
#toggle span::after {
 background: white;
}

.wrapper {
  width: 100%;
}

body {
  background-color: rgb(0, 0, 0);
  background-image: url('../assets/9WalkingTrails/Wavey-Fingerprint.svg');
  background-attachment: scroll;
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  margin: 0;
  position: relative;
  font-family: 'Abel', sans-serif;
}

.relative {
  position: relative;
}

.viewerBigScreen {
  width: 100vw;
  overflow: hidden;
  position: absolute;
  height: 100vh;
}

.page {
  width: 4000px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: row;
  transition: 0.1s ease-in-out;
}

.oneUnit {
  margin-left: 100px;
  width: 33.3%;
  height: 100%;
  position: relative;
}

.left {
  height: 90%;
  width: 30%;
  position: absolute;
  bottom: 0;
  animation: moveInFromLeft 0.4s ease-out;
}

.topRight {
  height: 20%;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 50%;
  animation: moveInFromRight 0.4s ease-out;
}

.topbottom {
  height: 20%;
  width: 30%;
  position: absolute;
  top: 60%;
  left: 50%;
  animation: moveInFromRight 0.4s ease-out;
}

.img {
  object-fit: cover;
  box-shadow: 5px 5px 10px #000000;
}

.imgMobile{
  object-fit: cover;
  box-shadow: 5px 5px 10px #000000;
  position:relative;
}

.imgAnchor:hover .img {
  filter: brightness(70%);
  transition: 0.5s ease-in-out;
}

.intro {
  opacity: 0;
  font-size: 2rem;
  font-family: 'Abel', sans-serif;
  color: white;
}

.imgAnchor:hover .intro {
  opacity: 1;
  transition: 1s ease-in-out;
}

.intro {
  position: absolute;
}

.name,
.hardness {
  color: white;
}

.viewerSmallScreen{
  display: none;
}

@keyframes moveInFromLeft {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInFromRight {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media only screen and (max-width:480px){

.viewerBigScreen {
  display:none;}
  
  .page{
    width: 100%;
  }

.viewerSmallScreen{
  display:block;
  width:100vw;
  padding-top: 85px;
}
  
*{
  max-width: 100vw !important;
  box-sizing: border-box;
}

.intro{
  opacity: 100%;
  z-index: 1;
  position:absolute;
  bottom:9px;
  left:5px;
  font-size:1.3rem;
  background-color: rgba(0,0,0,0.3);
  right:5px;
}

.imgMobile{
  width: 100%;
  height: 33vh;
  margin:0;
  border: 5px solid deepskyblue;
}

a{
  margin:-5px 0px;
  position: relative;
}

.containerMobile{
  top:56px;
  display:flex;
  flex-flow: column;
  align-items: center;
}

}