:root {
  --primary: #3b5753;
  --secondary: #fec18cda;
  --pink: #fcdccd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: var(--primary);
  
}

h1 {
  font-family: 'Monument Extended', sans-serif;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
  font-size: 60px;
}

.form-wrapper {
  margin: 0 auto;
  width: 50%;
}

.input-field {
  width: 100%;
}

.input-field > label {
  margin-left: -120px;
}

.button {
  background: var(--secondary);
  color: var(--primary);
  padding: 15px 20px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.align-center {
  display: flex;
  justify-content: center;
}

#detail {
  height: 60px;
}
