@font-face {
  font-family: Monument Extended;
  src: url('/assets/fonts/MonumentExtended-Regular.ttf') format('ttf'),
    url('/assets/fonts/MonumentExtended-Regular.woff') format('woff'),
    url('/assets/fonts/MonumentExtended.otf') format('otf');
}

:root {
  --primary: #3b5753;
  --secondary: #fec18cda;
  --pink: #fcdccd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

/*   ---- HERO ---- */
nav {
  position: absolute;
  width: 80%;
}

.wrapper {
  width: 100%;
}

.hero {
  background: url(../assets/event/bg.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.slogan {
  font-family: 'Monument Extended', sans-serif;
  font-size: 80px;
  float: right;
  margin-top: 200px;
  margin-left: 50px;
  color: #000;
  text-shadow: 8px 8px 12px rgba(255, 255, 255, 0.92);
  justify-content: center;
}

.ratingRemember {
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100%;
}

.ratingRemember > a {
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #da8b0c;
  color: #fff;
  border-radius: 1px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 200px;
}

.hero > a {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #da8b0c;
  color: #fff;
  border-radius: 1px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.add-event-btn a,
.filter button {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 20px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter i {
  font-size: 9px;
}

.filter button {
  background: rgb(180, 51, 51);
  color: #fff;
  margin-left: 20px;
}

.add-event-btn {
  display: flex;
  justify-content: center;
}

.add-event-btn a {
  background: var(--primary);
  color: #fff;
  /* float: center; */
  margin-left: 20px;
  text-transform: uppercase;
}

/* remind */
.hero > button {
  border: none;
  float: right;
  margin-top: 70px;
  margin-right: 53px;
}

.hero > button i {
  color: rgb(180, 51, 51);
  font-size: 30px;
}

.hero > button i:hover {
  color: red;
  transition: 1s ease-in;
}

#remember {
  position: absolute;
  background: #fff;
  box-shadow: 7px 5px 12px #000000;
  float: right;
  right: 0px;
  top: 100px;
  width: 300px;
  height: 80vh;
  z-index: 2;
  opacity: 0;
  padding: 10px;
}

#remember h3 {
  text-align: center;
  font-weight: bolder;
  color: red;
}

.remember-active {
  opacity: 1 !important;
}

.hero > i {
  position: absolute;
  font-size: 30px;
  top: 100px;
  right: 45px;
  z-index: 4;
  cursor: pointer;
}

.notice-board {
  display: flex;
  border-radius: 3px;
  padding: 30px 10px;
  background: #fff;
  
}

.notice-board:nth-child(even) {
  background: #3b575344;
}

.notice-board a {
  text-decoration: none;
}

.neverShowbtn {
  float: right;
  cursor: pointer;
  color: var(--primary);
  background: var(--pink);
  height: 23px;
  width: 120px;
  text-align: center;
}

.neverShowbtn:hover{
  color: red;
  transition: 0.3s ease-in;
}



/* weather */
.weather-wrapper {
  width: 100%;
  background: var(--primary);
}

#weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  margin: 20px 0;
  width: 100px;
}

#weather p {
  color: #fff;
  line-height: 10px;
  text-align: center;
}

#icon > img {
  width: 40px;
  height: 40px;
}

/* AJAX */

#events-wrapper {
  width: 90%;
  margin: 30px auto;
}

.effect {
  margin: 20px 0;
}

.effect h2 {
  transform: translate(10px, -20px);
  opacity: 0;
  transition: opacity 0.2s, transform 0.35s;
}

.effect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.effect:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.effect:hover h2 {
  opacity: 0.7;
  transform: translate(10px, -80px);
  transition-delay: 0.1s;
  transition-duration: 0.35s;
}

@media only screen and (max-width: 780px) {
  .slogan{
    font-size: 55px;
    float: right;
  }
}

@media only screen and (max-width: 480px) {
  .hero h3 {
    margin-top: 80px; 
  }

  .hero a {
    font-size: 15px;
    justify-content: center;
  }

  .filter {
    display: flex;
    justify-content: space-evenly;
  }

  .filter button {
    margin-left: 0px;
  }

  .add-event-btn a {
    float: none;
    margin: 0px;
  }

  .add-event-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  #events-wrapper {
    width: 100%;
    margin: 0px auto;
  }


  /* --notice-- */

  .hero > button {
    float: left;
    margin-left: 35px;
    margin-top: 100px;
    z-index: 55;
  }

  .hero > button i {
    font-size: 20px;
  }

  #remember{
    width: 100%;
    top: 25%;
    pointer-events: none;
  }

  #remember h3{
    font-size: 20px;
    margin: 0 auto;
  }
}
