@font-face {
  font-family: Monument Extended;
  src: url('/public/assets/fonts/MonumentExtended-Regular.ttf') format('ttf'),
    url('/public/assets/fonts/MonumentExtended-Regular.woff') format('woff'),
    url('/public/assets/fonts/MonumentExtended.otf') format('otf');
}

:root {
  --primary: #3b5753;
  --secondary: #fec18cda;
  --pink: #fcdccd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

/*   ---- HERO ---- */
nav {
  position: absolute;
  width: 80%;
}

.wrapper {
  width: 100%;
}

.hero {
  background: url(../assets/event/bg.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.slogan {
  font-family: 'Monument Extended', sans-serif;
  font-size: 80px;
  float: right;
  transform: translate(-50px, 200px);
  color: #000;
}

.hero a {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #da8b0c;
  color: #fff;
  border-radius: 1px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero a:hover {
  box-shadow: 0 0 10px #da8b0ce3, 0 0 30px #da8b0ccb;
}

.add-event-btn a {
  padding: 10px 20px;
  background: var(--primary);
  color: #fff;
  border-radius: 1px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: right;
  margin-top: 20px;
}

/* AJAX */

#events-wrapper {
  width: 90%;
  margin: 30px auto;
}

.effect {
  margin: 20px 0;
}

.effect h2 {
  transform: translate(10px, -20px);
  opacity: 0;
  transition: opacity 0.2s, transform 0.35s;
}

.effect img {
  width: 100%;
  height: 100%;
}

.effect:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.effect:hover h2 {
  opacity: 0.7;
  transform: translate(10px, -80px);
  transition-delay: 0.1s;
  transition-duration: 0.35s;
}
