* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/*   ---- HERO ---- */
.slogan {
  font-family: 'Monument Extended', sans-serif;
  font-size: 50px;
  float: right;
  transform: translate(-50%, -20%);
  color: #000;
  width: 500px;
}

button {
  height: 40px;
  width: 90px;
  right: 50%;
}

.filters {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.filter {
  height: 50px;
  width: 220px;
}

.events {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.event {
  background-color: #000;
  height: 270px;
  width: 220px;
}

footer {
  background-color: #000;
  width: 100%;
  height: 100px;
  padding: 20px;
}

p {
  color: red;
  font-size: 30px;
}
/* 
@media only screen and (max-width: 375px) {
  .nav-bar {
    display: none;
  }

  #toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 25px;
    cursor: pointer;
  }

  #toggle span {
    display: block;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #toggle span:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #toggle span:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #nav.active #toggle span {
    height: 0;
  }

  #nav.active #toggle span:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #nav.active #toggle span:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
} */
