* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

nav {
  position: absolute;
  width: 80%;
  left: -40px;
}

.wrapper {
  width: 100%;
}

.circles {
  border-radius: 50%;
}

.sizeMedium {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.boxShadow {
  box-shadow: black 5px 5px 10px;
}

.sizeBig {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.topMain {
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  z-index: 0;
}

.container .section1{
  margin-top: 56px;
}

.topLeft {
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  z-index: 1;
  bottom: 0;
  border: white 10px solid;
}

.section1 {
  position: relative;
  height: 500px;
}

.section2 {
  position: relative;
  height: 200px;
  margin-bottom: 100px;
}

.mountainIcon {
  background-color: white;
}

.section3 {
  margin-top: 30px;
}

.grey {
  background-color: #e0e5eb;
  height: 300px;
  width: 300px;
  z-index: -1;
  position: absolute;
  right: 20%;
  bottom: 10%;
}

.absolute {
  position: absolute;
}

.title {
  color: #fe4323;
  font-size: 9rem;
  bottom: 0;
  right: 10%;
  z-index: 3;
}

.titledescription {
  z-index: 4;
  font-size: 1.5rem;
  text-align: end;
  background-color: ivory;
}

.pointsCardText {
  max-height: 200px;
  overflow: hidden;
}

.trailDescriptionLonger {
  z-index: 4;
  font-size: 1rem;
  text-align: end;
  background-color: ivory;
}

.pointsCard {
  background-color: #fe4323;
  height: 300px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.pointsCardCircle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.pointsCardTitle {
  font-size: 2rem;
  color: white;
}

.pointsCardDescription {
  color: white;
  font-size: 2rem;
}

.pointsCardText {
  text-align: center;
}

.trailImage {
  border-radius: 50%;
  border: #fe4323 10px solid;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 20px 0px;
}

.trailImageContainer {
  display: flex;
  justify-content: center;
}
