@font-face {
  font-family: Monument Extended;
  src: url('/assets/fonts/MonumentExtended-Regular.ttf') format('ttf'),
    url('/assets/fonts/MonumentExtended-Regular.woff') format('woff'),
    url('/assets/fonts/MonumentExtended.otf') format('otf');
}

:root {
  --primary: #3b5753;
  --secondary: #fec18cda;
  --pink: #fcdccd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: var(--primary);
}

h1 {
  font-family: 'Monument Extended', sans-serif;
  letter-spacing: 6px;
  text-align: center;
  font-size: 60px;
  margin-bottom: 100px;
}

p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #d03429;
  background: var(--pink);
  padding: 10px;
  border-radius: 5px;
}

.form-wrapper {
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
}

.input-field {
  width: 100%;
}

.input-field > label {
  margin-left: -120px;
}

#into {
  height: 80px;
  border-radius: 5px;
}

.upload-file {
  color: var(--secondary);
  padding: 2px;
}

.button, #back{
  background: var(--secondary);
  color: var(--primary);
  padding: 15px 20px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  margin: 2rem;
}

.button:hover{
  background: #fda151da;
  transition: 0.5s ease-in;
}

.align-center {
  display: flex;
  justify-content: center;
}

.redirect {
  display: flex;
  margin-top: 5px;
}

.redirect a {
  color: var(--secondary);
  padding-left: 5px;
}

#user_icon {
  height: 200px;
  width: 200px;
}

#back{
  background: #fff;
}

@media only screen and (max-width: 480px) {
  h1{
    font-size: 50px;
  }

  .input-field >label {
    margin-left: 0px !important;
    font-size: 15px;
  }

  .redirect {
    display: block;
    width: 150px;
    text-align: center;
  }
}
