/* :root {
  --primary: #3b5753;
  --secondary: #fec18cda;
  --pink: #fcdccd;
}

nav {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  z-index: 99;
  width: 100%;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav h1 {
  font-size: 25px;
  color: #000;
}

nav i {
  font-size: 15px;
  transform: translate(-4px, -2px);
}

#toggle {
  display: none;
}

.nav-bar {
  display: flex;
  margin-right: 10%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-left: 50px;
  color: #000;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #da8b0c;
  transition: 0.5s ease-out;
}

@media only screen and (max-width: 480px) {
  .block {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    right: -300px;
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
  }

  .block.block-active {
    right: 0;
    background: var(--primary);
  }

  #nav {
    z-index: 10;
  }

  #nav h1 {
    margin-top: 15px;
  }

  .nav-bar {
    position: absolute;
    z-index: 3;
    top: 300px;
    right: -120px;
    opacity: 0;
    transform: translate(-50%, -50%);
    display: none;
  }

  .nav-bar-show {
    position: absolute;
    opacity: 1;
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
    transition-delay: 0.8s;
    transition-duration: 0.35s;
    display: block;
  }

  .nav-bar a {
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 10px;
    transition-delay: 0.8s;
    transition-duration: 0.35s;

  }

  #toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 25px;
    cursor: pointer;
  }

  #toggle span {
    display: block;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #toggle span:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #toggle span:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #nav.active #toggle span {
    height: 0;
  }

  #nav.active #toggle span:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #nav.active #toggle span:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .notice{
    z-index: 20;
  }

} */



:root {
  --primary: #3b5753;
  --secondary: #fec18cda;
  --pink: #fcdccd;
}

nav {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  z-index: 99;
  width: 100%;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav h1 {
  font-size: 25px;
  color: #000;
}

nav i {
  font-size: 15px;
  transform: translate(-4px, -2px);
}

#toggle {
  display: none;
}

.nav-bar {
  display: flex;
  margin-right: 10%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-left: 50px;
  color: #000;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #da8b0c;
  transition: 0.5s ease-out;
}

@media only screen and (max-width: 480px) {
  .block {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    right: -300px;
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
  }

  .block.block-active {
    right: 0;
    background: var(--primary);
  }

  #nav {
    z-index: 99;
  }

  #nav h1 {
    margin-top: 15px;
  }

  .nav-bar {
    position: absolute;
    display: block;
    right: -140px;
    z-index: 3;
    top: 300px;
    opacity: 0;
    transform: translate(-40%, -50%);
  }

  .nav-bar-show {
    position: absolute;
    opacity: 1;
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
    transition-delay: 0.8s;
    transition-duration: 0.35s;
  }

  .nav-bar a {
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 10px;
  }

  #toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 25px;
    cursor: pointer;
  }

  #toggle span {
    display: block;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #toggle span:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #toggle span:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 1px;
    background: #000;
  }

  #nav.active #toggle span {
    height: 0;
  }

  #nav.active #toggle span:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #nav.active #toggle span:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
