body{
    margin: 0;
}

#navbar{
    height: 80px;
    width: 100%;
    background-color: #119944;
}

article{
    background-color: #9393ff;
    max-width: 800px;
    margin: 0 auto  ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    margin: 10px 0;
    border-radius: 50%;
}

.photoOfTrail{
    display: flex;
    align-items: flex-end;
}

.photo.a{
    height: 150px;
    width: 150px;
    background-color: #ff1100;
    position:relative;
    right: -50px;
    z-index: 3;
}

.photo.b{
    height: 300px;
    width: 300px;
    border:solid 1px #00ff11;
    z-index: 2;
    background-image: url("../Black Hill.jpg");
    background-size: cover;
}

.photo.c{
    height: 200px;
    width: 200px;
    background-color: #1100ff;
    position: relative;
    left: -50px;
    z-index: 1;
}

.nameOfTrail{
    height: 100px;
    width: 200px;
    font-size: 30px;
    border-radius: 50px 2px 30px 40px;
    padding: 40px 20px 20px 30px;
    background-color: #80ff80;
    position: relative;
    z-index: 4;
}

.backgroundForIntro{
    margin-top: 20px;
    width:500px;
    height: 400px;
    background-color: #ff8080;
    border-radius: 0 0 50% 50%;
    position: relative;
    top: -150px;
}

.board{
    position: absolute;
    width:500px;
    height: 200px;
    background-color: #9393ff;
}

.intro{
    background-color: #ff1100;
    padding: 40px 20px;
    min-height: 400px;
    width:500px ;
    font-size: 30px;
    border-radius:30px ;
    margin: 20px 0;
}

footer{
    background-color:#a0a8a0;
    height: 200px;
    width: 100%;
}